// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #2A8CA2;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #566142;
$gray: #0E0000;
$light-gray: #BDC3C7;
$purple: #443446;
$white: #F0F8FA;
$body: #E2E2E2;
$background: #EAECE9;

.purple {
  color: $purple;
}
.lightgray {
  color: $light-gray;
}
