.photo {
  border: 8px solid $light-gray;
}
.description {
  text-align: left;
}

.review {
  text-align: center;
  border: 1px solid rgba(0,0,0,0.1);
}
.star-icon {
  color: #E7BC0D;
}

.gray{
  color: $gray;
}
