<div class="container navbar-margin">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <% if @artwork.photos.empty? %>
        <h2>
          <% flash.alert = "This site does not have any uploaded photos yet... Be the first to contribute by adding photos in 'My Uploads'" %>
        </h2>
      <% else %>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @artwork.photos.first.key, height: 300, width: 350, crop: :fill %>
            </div>
            <% @artwork.photos.to_a.slice(1, @photos.length).each do |photo| %>
              <div class="carousel-item">
                <%= cl_image_tag photo.first.key, height: 300, width: 350, crop: :fill %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      <% end %>
    </div>
  </div>
</div>
