<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @artwork.photos.first.key, class: "carousel-photo"%>
          </div>
          <% @artwork.photos.to_a.slice(1, @artwork.photos.length).each do |photo| %>
            <div class="carousel-item">
              <%= cl_image_tag photo.key, class: "carousel-photo" %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

