<div class="container navbar-margin">
  <h1>Add a new artwork</h1>
  <%= render 'form', artwork: @artwork %>
  <div class="my-3">
    <%= link_to 'Back', artworks_path, class: 'button' %>
  </div>
</div>
