<%-# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<%-# Cards %>
 <div class="container">
    <h2>How it works</h2>
    <div class="container-cards-how">
      <div class="card-how">
        <img src= "images/apply.svg" alt= "Step 1">
        <h3>This is step 1</h3>
        <p>This is a description of step 1</p>
      </div>
      <div class="card-how">
        <img src= "images/learn.svg" alt= "Step 2">
        <h3>This is step 2</h3>
        <p>This is a description of step 2</p>
      </div>
      <div class="card-how">
        <img src= "images/product.svg" alt= "Step 3">
        <h3>This is step 3</h3>
        <p>This is a description of step 3</p>
      </div>
    </div>
  </div>
<%-# Footer %>
<div class="footer text-center mt-4">
  <div class="footer-links p-2">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>

