<div>
  <h1>My request</h1>
  <% @requests.each do |request| %>
    <%= request %>
  <% end %>
</div>
<div>
  <h1>Bookings</h1>
  <% @my_bookings.each do |booking| %>
    <%= booking  %>
  <% end %>
</div>
