.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: $white;
    &:hover {
      opacity: 0.8;
      color: transparent;
      transition-timing-function: ease-in;
      transition-duration: 0.7s;
    }
}
.card a {
  color: $white;
  opacity: 0.8;
  text-decoration: none;
  font-weight: bold;
    &:hover {
      text-decoration: none;
      color: $white;
      opacity: 1;
      transition-timing-function: ease-in;
      transition-duration: 0.4s;
    }
}

.booking-card {
  background-color: $white;
  margin: 30px 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 5px $gray;
  .card-text {
    width: 60%;
    margin: 5px 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

.dashboard-cards {
  display: flex;
  justify-content: space-between;
}
.request-info {
  width: 60%;
  text-align: center;
}
.booking-info {
  width: 60%;
  text-align: center;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
