.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  position: sticky;
  top: 0;
}
.search-bar {
  display: flex;
}
.right-side {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  p {
    margin: 0;
    font-weight: normal;
  }
}
