.navbar-lewagon {
  justify-content: space-between;
  background: $purple;
  color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  // position: fixed;
  width: 100vw;
  // z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-nav .nav-link {
  color: $white;
}
.navbar-brand a {
  text-decoration: none;
  background-color: transparent;
  color: $white;
}
.navbar-brand p {
  color: $white;
  text-decoration:none;
  font-weight: bold;
}
