.booking-form {
  width: 50%;
  opacity: 0.8;
  h3 {
    color: $purple;
  }
}
.review {
  width: 50%;
  opacity: 0.8;
  h3{
    color: $purple;
  }
}
.art-info {
  text-align: center;
  h3, h1 {
    color: $purple;
  }
}
.photo {
  border: 8px solid $light-gray;
}
